{% if button %}
  <{{ button.href ? "a" : "button" }} {% if button.href %}href="{{ button.href }}"{% endif %} class="btn {{ button.class }}">
    {% if button.icon and button.icon_pos_right != true %}
      {% include "../../@atoms/icon/icon.twig" with {
        icon: button.icon|default({})|merge({
          class: "btn__icon" ~ (button.icon.class is defined ? " " ~ button.icon.class : "")
        })
      } %}
    {% endif %}

    <span class="btn__text {{ button.text.class }}">
      {{ button.text.text }}
    </span>

    {% if button.icon_pos_right %}
      {% include "../../@atoms/icon/icon.twig" with {
        icon: button.icon|default({})|merge({
          class: "btn__icon" ~ (button.icon.class is defined ? " " ~ button.icon.class : "")
        })
      } %}
    {% endif %}
  </{{ button.href ? "a" : "button" }}>
{% endif %}
